In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from sklearn.decomposition import TruncatedSVD
# If nltk stop word is not downloaded
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
import nltk,csv,numpy
nltk.download('punkt')
from nltk import sent_tokenize, word_tokenize, pos_tag
sentences=[]
reader = csv.reader(open('/content/FlipkartReview.csv', 'rU'), delimiter= ",",quotechar='|')
for line in reader:
    for field in line:
      sentences.append(field)
print(sentences)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
['Title', 'Review', 'Rating', 'Reviewer_name', 'Very Good', '"I ordered this mobile for my sister. (Online classes)It works well for day to day use.Here is my review after 10 days of use:This mobile is good for you', ' but if you are planing to play games like PUBG', ' COD ect. Don’t buy this Camera- 3/5 camera is disappointing both front and back. Also the front camera is slow as well.Face lock- 3/5 average one ', ' it don’t work in low light. Display- 4/5 not a great display though it’s adjustable.Battery- 4.5/5 it has good battery backup 4000mah but a...READ MORE"', '4.3', 'Flipkart Customer', 'Nice product', '"I really miss the finger print scanner and USB type c port. While I can live with the former', ' the later is a crime in 2020.Apart from that', " everything else is good. I really liked the form factor (it's a small device)", ' although a bit slippery. A 5/5 for the display. Battery back-up is really good and will easily last 2 days (with medium to high usage). Both the camera works well in outdoor lighting conditions and fails to perform in indoor lighting. Other than that', '  the camera features are ...READ MORE"', '4', 'Souvik  Das', 'Perfect product!', "I ordered this phone for my mom. She loves it. Samsung has really made a good handset in this price segment. Lucky to grab this at 8999. Overall experience is good just that camera quality is not up to the mark as far as brand Samsung is concerned. Also I am happy it's not a Chinese product.READ MORE", '4', 'khusboo kashyap', 'Very Good', '"Bought for my mom', ' camera quality is average', 'there is a small heating problem but its not a big deal', '  Charging is slow. video quality excellent ', ' good battery backup ', 'if you are a heavy user and a gamer its not a good option. Perfect choice for elderly and regular average  users', ' you can get better phone with the same price which have better performance but almost all phones are from chinese brands. All cons I have mentioned above is nothing if we compare with our love for mother india ', ' BOY...READ MORE"', '5', 'Flipkart Customer', 'Awesome', 'I am truly satisfied with the performance of the phone.First its budget phone so dont expect much from this phone.... coz its doesnt have feautures like finger print and ctype quick charge and camera quality is also okay but not bad.... If u really looking for small screen phones its the best one with snapdragon 439(12nm) processor with better performance than mtk and exynos... so i recommend this who really likes small screen lovers and who doesnt like extra added features... Moreover the b...READ MORE', '4', 'Thadiparthi Tharun', 'Excellent', '"Worth for money.But no fingerprint sensor. But has a nice battery capacity. I am not into playing games as I am a 9th student. But nice phone with no lags and hangs. If you get it in 9000 or below ', ' just go for it guyz.READ MORE"', '5', 'Supriya  Todkar ', 'Utterly Disappointed', '"Pros:- Battery with 4000mAh ---- 4.5/5Display clarity ----- 3/5Cons:-1) Pathetic/Worst Camera', " Nokia VGA camera is much better wen u zoom. I believe Samsung is purposely reducing the quality of image thru there World's worst camera app. With this price u get a better Camera quality phone. I tried to return but Flipkart don't care about it's customers. Best thing to do is", " Don't even think abt taking a pic at night", ' u will definitely throw the phone. ----------> -5/52) Video is just OMG...READ MORE"', '5', 'Deepak R', 'Worth the money', '"Its been more than a week since i bought this Mobile phone for my Mother. I like the look and feel. The performance is good and a fine display. It has a decent battery. I\'m little bit disappointed with the camera. Because the configuration mentioned for rear camera is 13 MP. But doesn\'t look like that.. The picture quality is low and not up to the mark of 13MP.The speaker is pretty average. Not so effective when we put the call on loudspeaker.But over all ', ' i suggest this as a decent ch...READ MORE"', '1', 'T.N.ARUN SUDHARSAN', 'Terrible product', '"Hopeless product from SamsungAt this price range there are much better options available. Please dont waste you money on this. I\'ll put down my feedback here. I feel more terrible because i brought it for my mother and that too', ' the phone was on Flash Sale. (*facepalm*) CameraEven local phones these days have good camera performance but this one has below standard camera. There is grains in the screen when you click moderate-low light pics. Build qualityIt has a plastic back and you ...READ MORE"', '4', 'Abin Rajan', 'Nice product', 'The camera quality is poor compared to other brands available at this range. The phone looks decent and is easy to use single handed. Display is one of the major highlight. Overall if you are a Samsung lover and looking for a budget smartphone below 10k this one is for you. They are not providing transparent case in the box.READ MORE', '1', 'Vignesh V Gopal ']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: 'U' mode is deprecated
  """

In [ ]:
df = pd.DataFrame()
df["documents"] = sentences
df.head()
df['clean_documents'] = df['documents'].str.replace("[^a-zA-Z#]", " ")
df['clean_documents'] = df['clean_documents'].fillna('').apply(lambda x: ' '.join([w for w in x.split() if len(w)>2]))
df['clean_documents'] = df['clean_documents'].fillna('').apply(lambda x: x.lower())

df.head()

       documents clean_documents
0          Title           title
1         Review          review
2         Rating          rating
3  Reviewer_name   reviewer name
4      Very Good       very good

In [ ]:
# TF-IDF vector
vectorizer = TfidfVectorizer(stop_words='english', smooth_idf=True)
X = vectorizer.fit_transform(df['clean_documents'])
X.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
# SVD represent documents and terms in vectors 
svd_model = TruncatedSVD(n_components=2, algorithm='randomized', n_iter=100, random_state=122)
lsa = svd_model.fit_transform(X)

In [ ]:
#Documents - Topic vector
pd.options.display.float_format = '{:,.16f}'.format
topic_encoded_df = pd.DataFrame(lsa, columns = ["topic_1", "topic_2"])
topic_encoded_df["documents"] = df['clean_documents']
display(topic_encoded_df[["documents", "topic_1", "topic_2"]])

                                            documents  ...             topic_2
0                                               title  ... -0.0000000000000000
1                                              review  ... -0.0091127899841094
2                                              rating  ...  0.0000000000000000
3                                       reviewer name  ... -0.0000000000000000
4                                           very good  ... -0.2576301868907325
..                                                ...  ...                 ...
59                                         abin rajan  ...  0.0000000000000001
60                                       nice product  ...  0.8807553171953303
61  the camera quality poor compared other brands ...  ... -0.0292014815307756
62                                                     ... -0.0000000000000000
63                                      vignesh gopal  ...  0.0000000000000000

[64 rows x 3 columns]

In [ ]:
dictionary = vectorizer.get_feature_names()

In [ ]:
encoding_matrix = pd.DataFrame(svd_model.components_, index = ["topic_1","topic_2"], columns = (dictionary)).T
encoding_matrix

                      topic_1             topic_2
abin       0.0000000000000000  0.0000000000000001
abt        0.0045344555536715 -0.0016818761897158
added      0.0115844271259152 -0.0018801947597514
adjustable 0.0422475199872832 -0.0158648759574360
apart      0.0000000000000000  0.0000000000000000
...                       ...                 ...
works      0.0347993212191025 -0.0138530266873370
world      0.0173911127604645 -0.0025012061672847
worst      0.0446263031842980 -0.0111231636321836
worth      0.0257252178979597  0.0601314697277614
zoom       0.0173911127604645 -0.0025012061672847

[251 rows x 2 columns]